.container {
  display: grid;
  width: 75%;
  gap: 3rem;
  height: 50%;
  margin: 8rem auto;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

html {
  color: #1a1a1a;
  background-color: #fefefe;
  height: 100%;
}

body {
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  hyphens: auto;
  overflow-wrap: break-word;
  text-align: center;
  flex-direction: column;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-family: "New York", "Optima", serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagline {
  rotate: -18deg;
  position: absolute;
  font-size: 2.5rem;
  top: 2.8rem;
  left: 2rem;
  right: auto;
  text-shadow: 2px 4px lightgray;
}

.tagline:hover {
  cursor: pointer;
  animation: bounce 0.8s ease-in-out infinite alternate;
}

.hidden {
  visibility: hidden;
}

#informationPanel {
  border: black 1px solid;
  position: absolute;
  right: 2rem;
  top: 2rem;
  left: auto;
  margin: 1rem;
  padding: 2rem;
}

.item {
  width: 10rem;
  margin: auto;
  height: 5rem;
  padding: 1rem;
}

canvas:hover {
  cursor: pointer;
}

.tag[style*="--index"] {
  font-size: calc(var(--font-size, 2) * 1rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
    rotate(calc(360deg / var(--total) * var(--index)))
    translateY(calc(var(--radius, 5) * -1ch));
}
.item:hover {
  background: lightblue;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

.item[aria-selected="true"] {
  background: lightgreen;
  box-shadow: lightblue 10px 20px;
  animation: bounce 0.3s ease-out infinite alternate;
}

@media (max-width: 800px) {
  .container {
    margin-top: 1rem;
  }
  .tagline {
    rotate: initial;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    left: auto;
    top: 3rem;
    right: auto;
  }
  #informationPanel {
    position: fixed;
    bottom: 0;
    background: white;
    margin: auto;
    left: 0;
    right: 0;
    top: auto;
    z-index: 10000;
  }
}
